.text {
  margin: 16px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  width: auto;
}
.tooltip {
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  display: none;
  position: absolute;
  bottom: -40px;
  z-index: 1;
}
.text:hover .tooltip {
  display: block;
}
