* {
  box-sizing: border-box;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: auto;
}
.block {
  display: flex;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: coral;
  position: absolute;
  margin: 0px calc(50vw - 125px);
  animation: move;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes move {
  from {
    top: -100px;
  }
  to {
    top: calc(50vh - 50px);
  }
}
