.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-list {
  color: white;
  list-style-type: none;
  height: 40px;
  line-height: 12px;
}
.nav-item {
  display: inline-block;
  margin-left: 16px;
}
.content {
  background-color: beige;
  height: 5000px;
}
.head {
  background-color: aquamarine;
  height: 200px;
  width: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}
.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: absolute;
}
.ear_left {
  top: -60px;
  left: -40px;
}
.ear_right {
  left: 200px;
  top: -60px;
}
.eye {
  background-color: grey;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
}
.eye_left {
  top: 80px;
  left: 40px;
}
.eye_right {
  top: 80px;
  left: 130px;
}
